:root {
  --font_color_1: #585858;
  --font_color_2: #0f0f0f;
  --background_color_1: #EDEDED;
}

/*---텍스트 색깔---*/
.color_1 {
  color: var(--font_color_1);
}

.color_2 {
  color: var(--font_color_2);
}

body {
  margin: 0;
  
}

/*---종이 크기---*/
#wrapper {
  width: 1728px;
  height: 1117px;
  background-color: var(--background_color_1);
  padding-top: 14px;
  padding-left: 29px
  /*---테스트---*/
  /* position: relative; */
}

/*---text box---*/
#text_box {
  /*---폰트 설정---*/
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  line-height: 88px;
}