 /*mobile버전 코드*/
 @media screen and (max-width:600px){ 

  #h_desk_top{
    display: none;
  }
  #n_desk_top{
    display: none;
  }
  .for_desk{
    display: none;
  }
  img{
    width: 95%;
    height: 90%;
  }
  body{
    width: 570px;
    height: 950px;
  }
  header{
    background-color: var(--h_color);
    height: 10%;
  }
  main{
    height: 80%;
    width: 100%;
  }
  footer{
    background-color: var(--f_color);
    height: 10%;
  }
  #container{
    background-color: var(--m_color);
    height: 100%;
    padding: 5%;
  }
  #container > div:nth-child(1){
    font-size: 12pt;
    text-align: center;
    width: 100%;
    height: 90%;
    padding: 3% 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #container > div:nth-child(1) > div{
    border: 2px solid rgb(37, 125, 184);
    height: 80%;
    width: 90%;
    margin: 2%;
  }
  #h_mobile{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
  }
  .head-name{
    width: 40%;
    font-style: italic;
    text-align: center;

  }
  .h-space{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    width: 30%;
    height: 100%;
  }
  .h-menubar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    width: 100%;
    height: 40%;
    text-align: center;
    
  }
  #h_mobile > div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
    height: 100%;
  }
  .search{
    width: 95%;
    height: 15%;
  }
  .btn{
    width: 80%;
    height: 50%;
    border: 1px solid black;
    background-color: white;
    font-size: 10pt;
    margin: 2%;
    padding: 0;
  }
} 