/*---변경 가능성이 있는---*/
:root {
  --font_color_1: #0f0f0f;
  --font_color_2: #585858;
}

/*---각 폰트 지정---*/
.font_1 {
  color: var(--font_color_1);
}
.font_2 {
  color: var(--font_color_2);
}

/*-----페이지-----*/

body {
  /*---외곽 여백---*/
  margin: 0px;
  padding: 0px;
}

#wrapper {
  /*---텍스트 박스 크기 지정---*/
  width: 1728px;
  height: 1117px;
  background-color: #EDEDED;

  /*---폰트 지정---*/
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  line-height: 121px;
  
}