/* common */
* {
  box-sizing:border-box
}
body {
  margin: 0px;
  padding: 0px;
}

/* default */
:root {
  --fon_s: 12px;
  --col_w: white;
  --col_b: black;
}

/* header */
#header_container > div {
  background-color: brown;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0.5rem;
}
#header_container > div > div:nth-child(1) {
  width: 30%;
  background-color: rgb(181, 247, 138);
  display: inherit;
  justify-content: flex-start;
}
#header_container > div > div:nth-child(2) {
  width: 30%;
  background-color: rgb(149, 149, 243);
  display: inherit;
  justify-content: center;
}
#header_container > div > div:nth-child(3) {
  width: 30%;
  background-color: rgb(252, 252, 151);
  display: inherit;
  justify-content: flex-end;
}

/* nav */
