      /* 공통 사항 */
      .master_font {
        font-size: 12px;
      }
      /* 용도 별 사이즈 */
      .size_article {
        width: 500px;
        height: auto;
      }
      #main_page {
        width: 550px;
        height: auto;
        background-color: rgb(255, 244, 180)
        /* border: solid 1px; */
      }
      /* 꾸미기 */
      .border_1 {
        border: 3px solid black;
        border-collapse: collapse;
      }