/*모바일 레이아웃 CSS*/

/*모바일 레이아웃*/
/* @media screen and (max-width:430px) { */
  #screen {
    width:430px;
    height:932px;
  }

/*헤더*/
  header {
    height:200px;
    background-color: var(--header_color);
  }

/*메인*/
  main {
    height:600px;
    background-color: var(--main_color);
  }

/*푸터*/
  footer {
    height:132px;
    background-color: var(--footer_color);
  }

/*헤더*/
header > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:1.2em;
}

/*리스트*/
header > div > div {
  width:380px;
  height:40px;
  background-color: var(--h_list_color);
}

/*메인*/
main > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap:1em;

}

main > div > div {
  width: 380px;
  height: 270px;
  background-color: var(--m_content_color);
}

/*푸터*/

/* } */